/* Background pattern from subtlepatterns.com */

$watery: #3B8CAD;
$water-border: #5ac;
$water-background: #cff;
$water-color: #0F0FBA;

$flamey: #e81111;
$flame-border: #E81111;
$flame-background: #FDDEA0;
$flame-color: #AB0505;

$earthy: #3BAB15;
$earth-border: #91770E;
$earth-background: #37E408;
$earth-color: #FFF;

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin modal {
  background: #fff;
  border-radius: 5px;
  border: 2px rgba(20, 150, 20, 0.8) solid;
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.75);
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 400px;
}

html {
  @include no-select;
  background: url('/images/congruent_pentagon.png');
  font-family: 'Nunito', Arial, serif;
  font-weight: 300;
}

h1 {
  font-family: 'Nunito', Arial, serif;
  font-weight: 700;
  margin: 0;
}

.welcome {
  @include modal;

  a {
    background: #dfd;
    border-radius: 3px;
    border: 1px #8b8 solid;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 150px;

    &.generate-more {
      width: 200px;
    }

    &:hover {
      background: #cec;
    }

    &:active {
      background: #bdb;
    }
  }
}

.element-chooser {
  @include modal;
  position: absolute;
  margin: 20px auto;
  left: 0;
  right: 0;

  .element {
    border-radius: 3px;
    border-size: 1px;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 100px;
    font-weight: 400;

    &.water {
      border-color: $water-border;
      background: $water-background;
      color: $water-color;

      &:hover {
        border-color: darken($water-border, 7%);
        background: darken($water-background, 7%);
        color: darken($water-color, 7%);
      }
    }

    &.flame {
      border-color: $flame-border;
      background: $flame-background;
      color: $flame-color;

      &:hover {
        border-color: darken($flame-border, 5%);
        background: darken($flame-background, 5%);
        color: darken($flame-color, 5%);
      }
    }

    &.earth {
      border-color: $earth-border;
      background: $earth-background;
      color: $earth-color;

      &:hover {
        border-color: darken($earth-border, 10%);
        background: darken($earth-background, 5%);
      }
    }
  }

  .explanations {
    height: 50px;
    position: relative;
    p {
      position: absolute;
      width: 100%;
      text-align: center;
    }
    .flamey { font-weight: 400; color: $flamey; }
    .watery { font-weight: 400; color: $watery; }
    .earthy { font-weight: 400; color: $earthy; }
  }
}

.game-container {
  font-size: 0;
  text-align: center;
  vertical-align: top;

  canvas {
    background: #000;
    display: inline-block;
    margin: 0;
  }

  .leaderboard {
    background: #333;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 0 20px;
    vertical-align: top;
    width: 200px;

    h2 {
      font-size: 24px;
      margin: 14px 0 4px;
    }

    .player-score-container {
      clear: both;
      overflow: hidden;
      padding: 6px 0;
      &:not(:first-of-type) {
        border-top: 1px solid gray;
      }

      .player {
        float: left;
      }
      .score {
        float: right;
      }
    }
  }
}

.hidden {
  display: none;
}

.debugger {
  position: fixed;
  top: 0;
  right: 0;
  background: black;
  color: white;
  font-family: monospace;
  font-size: 12px;
  text-align: left;
  min-width: 500px;
}
