/* Background pattern from subtlepatterns.com */
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: url('/images/congruent_pentagon.png');
  font-family: 'Nunito', Arial, serif;
  font-weight: 300; }

h1 {
  font-family: 'Nunito', Arial, serif;
  font-weight: 700;
  margin: 0; }

.welcome {
  background: #fff;
  border-radius: 5px;
  border: 2px rgba(20, 150, 20, 0.8) solid;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 400px; }
  .welcome a {
    background: #dfd;
    border-radius: 3px;
    border: 1px #8b8 solid;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 150px; }
    .welcome a.generate-more {
      width: 200px; }
    .welcome a:hover {
      background: #cec; }
    .welcome a:active {
      background: #bdb; }

.element-chooser {
  background: #fff;
  border-radius: 5px;
  border: 2px rgba(20, 150, 20, 0.8) solid;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 400px;
  position: absolute;
  margin: 20px auto;
  left: 0;
  right: 0; }
  .element-chooser .element {
    border-radius: 3px;
    border-size: 1px;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 100px;
    font-weight: 400; }
    .element-chooser .element.water {
      border-color: #5ac;
      background: #cff;
      color: #0F0FBA; }
      .element-chooser .element.water:hover {
        border-color: #3a9cc3;
        background: #a8ffff;
        color: #0c0c99; }
    .element-chooser .element.flame {
      border-color: #E81111;
      background: #FDDEA0;
      color: #AB0505; }
      .element-chooser .element.flame:hover {
        border-color: #d00f0f;
        background: #fcd587;
        color: #920404; }
    .element-chooser .element.earth {
      border-color: #91770E;
      background: #37E408;
      color: #FFF; }
      .element-chooser .element.earth:hover {
        border-color: #62510a;
        background: #31cb07; }
  .element-chooser .explanations {
    height: 50px;
    position: relative; }
    .element-chooser .explanations p {
      position: absolute;
      width: 100%;
      text-align: center; }
    .element-chooser .explanations .flamey {
      font-weight: 400;
      color: #e81111; }
    .element-chooser .explanations .watery {
      font-weight: 400;
      color: #3B8CAD; }
    .element-chooser .explanations .earthy {
      font-weight: 400;
      color: #3BAB15; }

.game-container {
  font-size: 0;
  text-align: center;
  vertical-align: top; }
  .game-container canvas {
    background: #000;
    display: inline-block;
    margin: 0; }
  .game-container .leaderboard {
    background: #333;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 0 20px;
    vertical-align: top;
    width: 200px; }
    .game-container .leaderboard h2 {
      font-size: 24px;
      margin: 14px 0 4px; }
    .game-container .leaderboard .player-score-container {
      clear: both;
      overflow: hidden;
      padding: 6px 0; }
      .game-container .leaderboard .player-score-container:not(:first-of-type) {
        border-top: 1px solid gray; }
      .game-container .leaderboard .player-score-container .player {
        float: left; }
      .game-container .leaderboard .player-score-container .score {
        float: right; }

.hidden {
  display: none; }

.debugger {
  position: fixed;
  top: 0;
  right: 0;
  background: black;
  color: white;
  font-family: monospace;
  font-size: 12px;
  text-align: left;
  min-width: 500px; }
